.timer-container{
    position: absolute;
    top:300px;
    left: 150px;
    width: 472.0px;
    height: 276.0px;
    border-radius: 30px;
    border: 1px solid #000;
    background: #B9C2FF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    
}

.tab {
  flex: 1;
  background-color: #60A5FF;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #000;
  text-align: center;
  font-family: Itim;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tab-bar{
    position: relative;
    top: 30px;
    left: 70px;
    width: 333.0px;
    height: 24.0px;
    border-radius: 50px;
    border: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #60A5FF;
    overflow: hidden;
    display: flex;
}

.timer-container p{
    position: relative;
    top: 10px;
    left: 190px;
    font-size: 40px;
    font-family: Itim;
    color: #698CFF;
}

.tab:hover {
  background-color: #3390d6;
}

.tab.active {
  background-color: #2c82c9;
  color: white;
}

.progress-bar{
    position: relative;
    left: 70px;
    top: -20px;
    width: 352.0px;
    height: 32.0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B5D5FF;
    border-radius: 30px;
}

.option-btn{
    position: relative;
    left: 70px;
    margin-left: 30px;
    width: 64.0px;
    height: 32.0px;
    color: #FFF;
    text-align: center;
    font-family: Itim;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    border-radius: 20px;
    border-color: white;
    background: #88BCFF;
}